
[user]
#   name = Pat Simian
#   email = pat.simiam@test.com

[commit]
  #template = .github/.gitmessage

[core]
#   editor = vim
#   editor = atom
#   editor = emacs
#   editor = nano
#   editor = \"C:\\\\Program Files (x86)\\\\Notepad++\\\\notepad++.exe\" -multiInst -notabbar -nosession -noPlugin
#   whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

# For Windows
#   autocrlf = true

# For Unix
#   autocrlf = input

[help]
#   autocorrect = 10

[web]
#   browser = google-chrome

[merge]
#   tool = kdiff3

[alias]
#   s = status
#   d = diff
#   c = commit
#   o = checkout
#   b = branch
#   f = fetch
#   m = merge
#   ps = push
#   pl = pull
#   r = remote
#   w = show

[color]
#   ui = true
	
[color "branch"]
#   current = yellow bold
#   local = green bold
#   remote = cyan bold
	
[color "diff"]
#   meta = yellow bold
#   frag = magenta bold
#   old = red bold
#   new = green bold
#   whitespace = red reverse
	
[color "status"]
#   added = green bold
#   changed = yellow bold
#   untracked = red bold
